@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.m-30 {
    margin: 30px;
}
.fs-20 {
    font-size: 20px;
}
.fs-11 {
    font-size: 11px !important;
}

.header {
    display: flex;
    justify-content: space-between;
}
.main-navbar {
    margin-top: 40px;
}
.main-navbar li button {
    border-bottom: 1px solid #dee2e6 !important;
}

.remove-btn {
    font-size: 28px;
    color: #c8c8c8;
    cursor: pointer;
}
.remove-btn:hover {
    color: #585858;
}

/**
 * Select 2 styles
 */
.select2-container .select2-selection--single {
    height: 40px;
    box-shadow: none;
    border: 1px solid #929191;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 28px;
}
.select2-container .select2-selection--single .select2-selection__arrow {
    height: 40px;
}

/**
 * Modal settings.
 */
.modal-title {
    font-size: 16px !important;
}
.modal-footer button {
    height: 30px !important;
    display: flex !important;
    align-items: center !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.modal p {
    font-size: 13px;
    margin: 12px 0 7px 0;
}
.modal input[type=text] {
    height: 26px;
}
.modal .select2-container {
    font-size: 11px !important;
    line-height: 12px !important;
}
.modal .select2-selection__rendered {
    font-size: 11px !important;
}
.modal .select2-container .select2-selection--single {
    height: 26px;
}
.modal .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 14px;
}
.modal .select2-container .select2-selection--single .select2-selection__arrow {
    height: 26px;
}
.modal .modal-body {
    padding: 10px 24px 24px 24px;
}
.modal .modal-title {
    font-size: 16px !important;
}
.modal .task-description {
    font-size: 13px;
    font-weight: 300;
    color: #888383;
}
.modal .modal-header {
    padding: 23px !important;
}

/**
 * Own buttons
 */
.s-btn-light-blue {
    background-color: #5896fa !important;
}
.s-btn-light-blue:hover {
    border: 1px solid #092c64;
    background-color: #1a66bc !important;
    box-shadow: inset -2px -2px 32px -4px rgb(35, 116, 199);
}

.s-btn-violet {
    background-color: #532dff !important;
}
.s-btn-violet:hover {
    border: 1px solid #1c0e5f;
    background-color: #381abc !important;
    box-shadow: inset -2px -2px 32px -4px rgb(65, 35, 199);
}

.s-btn {
    height: 30px !important;
    display: flex !important;
    align-items: center !important;
    border: none !important;
    color: white !important;
    padding-right: 15px;
    justify-content: center;
    font-size: 12px !important;
}

.s-btn .mdi {
    font-size: 14px !important;
}

.border-left-1 {
    border-left: 1px solid #e8e2e2;
}
